<%- include(__head_include) %>
</head>

<body>
    <div class="w3-container w3-teal">
        <h1><%= statusCode %></h1>
    </div>
    
    <div class="w3-container">
        <h2><%= status %></h2>
        <h3><%= message %></h3>
        <h6><%= stack %></h6>
    </div>
    

<%- include(__end_include) %>